Repository dodopizza/superset, pull requests merged in 2025-06, with the labels that each got.

#279 fix: temporal column position in table viz
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
Labels: plugins

#281 fix(51128053): use FormData in legacy api in plugin
  superset-frontend/packages/superset-ui-core/src/DodoExtensions/api/index.ts
  superset-frontend/src/components/Chart/chartAction.js
Labels: packages

#280 other: release v4.1.1_0.0.5
  superset-frontend/packages/superset-ui-core/src/DodoExtensions/api/index.ts
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/version/change.js
Labels: packages, plugins

#288 feat: remove unused columns
  superset/migrations/versions/2023-11-01_00-00_168cfd974dd1_required_fields_for_multilingualism.py
  superset/migrations/versions/2023-11-01_01-00_049632555b84_.py
  superset/migrations/versions/2023-11-01_11-00_2684073d82a4_rename_to_snake_case.py
  superset/migrations/versions/2023-12-01_12-03_b7851ee5522f_replay_317970b4400c.py
Labels: risk:db-migration

#284 other: release 4.1.1_6
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/version/change.js
  superset/daos/dataset.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  superset/migrations/versions/2023-11-01_00-00_168cfd974dd1_required_fields_for_multilingualism.py
  superset/migrations/versions/2023-11-01_01-00_049632555b84_.py
  superset/migrations/versions/2023-11-01_11-00_2684073d82a4_rename_to_snake_case.py
  superset/migrations/versions/2023-12-01_12-03_b7851ee5522f_replay_317970b4400c.py
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
Labels: risk:db-migration, api, i18n, i18n:russian
